navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#133b6a;
    width: 100vw;
  }
  
.company_logo {
    font-size: 30px;
    color: #EFC16B;
}

.left_navbar{
    width: 60vw;

}

.nav_links{
    display: flex;
    gap: 170px;
    padding: 20px;
}

.nav_links a {
    text-decoration: none;
    color: white;
}

.text{
    background-color: #133b6a;
    width: 100vw;
}

.text h1{
    font-size: 40px;
    color: white;
    height: 70px;
    margin-left: 240px;
}