navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#133b6a;
    width: 100vw;
  }
  
.company_logo {
    font-size: 30px;
    color: #EFC16B;
    font-weight: 700;
}

.left_navbar{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 30px;
}

.nav_links{
    display: flex;
    gap: 170px;
    padding: 20px;
}

.nav_links a {
    text-decoration: none;
    color: white;
}

.details_button{
    padding: 8px 16px;
    background-color: #EFC16B;
    color: black;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.main_container{
    
}

.items-information{
    
}

.venue_container {
    margin-top: 30px;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    font-size: 24px;
}

.text{
    background-color: #133b6a;
    border-radius: 10px;
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
}

.text h1{
    text-align: center;
    font-size: 40px;
    color: white;
    height: 50px;
    padding: 10px 50px;
}

.venue_selection{
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.venue_main{
    width: 330px;
    border: 1px solid lightgrey;
    border-radius: 15px;
    padding: 5px;
    background-color: #f9f9f9;
    color: #333;
    
}

.img{
    height: 219px;
    object-fit: cover;
    border-radius: 15px;
}

.item_name{
    font-size: 30px;
    color: #333;
}

.item_price{
    text-align: center;
    color: #133b6a;
}

.button_container{
    border-radius: 10px;
    width: 200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 20px;

}

.btn{
    color: black;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn_minus{
    background-color: #52D7D9;
}

.btn_plus{
    background-color: #5291D9;
}

.btn_disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

.total_cost {
    font-size: 30px;
    color: #333;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    width: 400px;
    margin-top: 15px;
    margin-left: 190px;
}