*{
  margin: 0;
}

.first_page{
  height: 100vh;
  background-image: url("https://cdn.pixabay.com/photo/2018/07/05/14/45/conference-3518465_1280.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

.main_event{
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(7px);
  background-color: rgba(51, 61, 80, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.first_page_name_btn{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  width: 500px;
}

.first_page_name_btn h1 {
  font-size: 45px;
  text-align: center;
}

.first_page_name_btn p {
  font-size: 26px;
}

.getstarted_btn {
  text-align: center;
  font-size: 30px;
}

.get-started-btn {
  background-color:#EFC16B;
  /* color: white; */
  color: black;
  border: none;
  padding: 20px 40px;
  font-size: 19px;
  border-radius: 5px;
  cursor: pointer;
}

.aboutus_main {
  width: 800px;
  color: white;
  /* background-color: rgba(0,0,0,0.1); */
}

.event-list-container {
  position: absolute;
  top: 100vh;
  transition: top 0.9s ease;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  height: 100vh;
}

.event-list-container.visible {
  top: 0px;
}